DevDataEscolas/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DevDataEscolas"
		},
		"AzureDatabricksnew_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksnew'"
		},
		"Dev_DataStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Dev_DataStorage'"
		},
		"LinkService_SQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LinkService_SQL'"
		},
		"datasharestorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'datasharestorage'"
		},
		"dev_batchgetdata_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'dev_batchgetdata'"
		},
		"Dev_DataSource_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dadosabertos.poa.br"
		},
		"dev_batchgetdata_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "devescola"
		},
		"dev_batchgetdata_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://devescola.ukwest.batch.azure.com"
		},
		"dev_batchgetdata_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "dev-school"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/0 - MasterPipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "run 1 - get data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RunPythonGetdata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "run 2 - load data to spark",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "run 1 - get data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataFromBlobToDatabricks",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "3 - Export from Databricks",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "run 2 - load data to spark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Export data from Databricks",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunExportData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "3 - Export from Databricks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Move File to correct folder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "ProjetoEscola/0 - Master Pipe"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-10T23:50:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RunPythonGetdata')]",
				"[concat(variables('factoryId'), '/pipelines/LoadDataFromBlobToDatabricks')]",
				"[concat(variables('factoryId'), '/pipelines/Export data from Databricks')]",
				"[concat(variables('factoryId'), '/pipelines/Move File to correct folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataFromBlobToDatabricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load from Raw to Spark",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/guto_mengue@hotmail.com/2 - LoadDataFromRaw"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksnew",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ProjetoEscola/2 - Load data to spark"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-10T23:37:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksnew')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Export data from Databricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Export Data From databricks",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/guto_mengue@hotmail.com/3 - SaveIntoCSV format"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksnew",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ProjetoEscola/3 - Export From DataBricks"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-10T23:37:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksnew')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RunPythonGetdata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get data from source",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python get_data_from_api.py",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "Dev_DataStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "dev-code-py",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "dev_batchgetdata",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"FilePython": {
						"type": "String",
						"defaultValue": "https://raw.githubusercontent.com/gutomengue4169/DevCodePython/main/get_data_from_api.py"
					}
				},
				"folder": {
					"name": "ProjetoEscola/1 - GetData"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-10T23:50:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Dev_DataStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/dev_batchgetdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataShareExport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datasharestorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "ExportData",
						"container": "datashare"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datasharestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_Dataset_API_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dev_DataSource",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "/api/3/action/datastore_search?resource_id=5579bc8e-1e47-47ef-a06e-9f08da28dec8"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Dev_DataSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetCurrentDataEscola')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkService_SQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "abr_nome",
						"type": "nvarchar"
					},
					{
						"name": "bairro",
						"type": "nvarchar"
					},
					{
						"name": "blog",
						"type": "nvarchar"
					},
					{
						"name": "cat_part_comunitaria",
						"type": "nvarchar"
					},
					{
						"name": "cat_part_confessional",
						"type": "nvarchar"
					},
					{
						"name": "cat_part_filantropica",
						"type": "nvarchar"
					},
					{
						"name": "cat_part_privada",
						"type": "nvarchar"
					},
					{
						"name": "cep",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "codigo",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "convenio_estadual",
						"type": "nvarchar"
					},
					{
						"name": "convenio_fasc",
						"type": "nvarchar"
					},
					{
						"name": "convenio_federal",
						"type": "nvarchar"
					},
					{
						"name": "convenio_municipal",
						"type": "nvarchar"
					},
					{
						"name": "data_extracao",
						"type": "nvarchar"
					},
					{
						"name": "dep_administrativa",
						"type": "nvarchar"
					},
					{
						"name": "desc_reg_conselho_tutelar",
						"type": "nvarchar"
					},
					{
						"name": "desc_reg_orcamento_part",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "escola_especial",
						"type": "nvarchar"
					},
					{
						"name": "facebook",
						"type": "nvarchar"
					},
					{
						"name": "inep",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "logradouro",
						"type": "nvarchar"
					},
					{
						"name": "longitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mant_apae",
						"type": "nvarchar"
					},
					{
						"name": "mant_empresa_privada",
						"type": "nvarchar"
					},
					{
						"name": "mant_ong",
						"type": "nvarchar"
					},
					{
						"name": "mant_sindicato",
						"type": "nvarchar"
					},
					{
						"name": "mant_sistema_s",
						"type": "nvarchar"
					},
					{
						"name": "nome",
						"type": "nvarchar"
					},
					{
						"name": "numero",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "reg_conselho_tutelar",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "reg_orcamento_part",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "situacao_funcionamento",
						"type": "nvarchar"
					},
					{
						"name": "telefone",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "tipo",
						"type": "nvarchar"
					},
					{
						"name": "twitter",
						"type": "nvarchar"
					},
					{
						"name": "url_website",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "RegistroEscolaAtual"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkService_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksnew')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2185228900688454.14.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksnew_accessToken')]"
					},
					"existingClusterId": "0311-143857-hangs816"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_DataSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Dev_DataSource_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_DataStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Dev_DataStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkService_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LinkService_SQL_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasharestorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('datasharestorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_batchgetdata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('dev_batchgetdata_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('dev_batchgetdata_accessKey')]"
					},
					"batchUri": "[parameters('dev_batchgetdata_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('dev_batchgetdata_properties_typeProperties_poolName')]",
					"linkedServiceName": {
						"referenceName": "Dev_DataStorage",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Dev_DataStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Move File to correct folder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "GetFileFromTemp",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"itemName",
								"itemType"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "TestfolderExist",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Metadata1').output. itemName,'Temp')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "MoveData if file exist",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "Temp",
												"wildcardFileName": "*.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "MergeFiles"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".CSV"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "GetFileFromTemp",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DataShareExport",
											"type": "DatasetReference",
											"parameters": {
												"FileName": "ExportData.csv"
											}
										}
									]
								},
								{
									"name": "delete unwanted files",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "MoveData if file exist",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "GetFileFromTemp",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "ProjetoEscola/4 - Export Data "
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GetFileFromTemp')]",
				"[concat(variables('factoryId'), '/datasets/DataShareExport')]",
				"[concat(variables('factoryId'), '/linkedServices/datasharestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetFileFromTemp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datasharestorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Temp",
						"container": "datashare"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "abr_nome",
						"type": "String"
					},
					{
						"name": "bairro",
						"type": "String"
					},
					{
						"name": "blog",
						"type": "String"
					},
					{
						"name": "cat_part_comunitaria",
						"type": "String"
					},
					{
						"name": "cat_part_confessional",
						"type": "String"
					},
					{
						"name": "cat_part_filantropica",
						"type": "String"
					},
					{
						"name": "cat_part_privada",
						"type": "String"
					},
					{
						"name": "cep",
						"type": "String"
					},
					{
						"name": "codigo",
						"type": "String"
					},
					{
						"name": "convenio_estadual",
						"type": "String"
					},
					{
						"name": "convenio_fasc",
						"type": "String"
					},
					{
						"name": "convenio_federal",
						"type": "String"
					},
					{
						"name": "convenio_municipal",
						"type": "String"
					},
					{
						"name": "data_extracao",
						"type": "String"
					},
					{
						"name": "dep_administrativa",
						"type": "String"
					},
					{
						"name": "desc_reg_conselho_tutelar",
						"type": "String"
					},
					{
						"name": "desc_reg_orcamento_part",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "escola_especial",
						"type": "String"
					},
					{
						"name": "facebook",
						"type": "String"
					},
					{
						"name": "inep",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "logradouro",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "mant_apae",
						"type": "String"
					},
					{
						"name": "mant_empresa_privada",
						"type": "String"
					},
					{
						"name": "mant_ong",
						"type": "String"
					},
					{
						"name": "mant_sindicato",
						"type": "String"
					},
					{
						"name": "mant_sistema_s",
						"type": "String"
					},
					{
						"name": "nome",
						"type": "String"
					},
					{
						"name": "numero",
						"type": "String"
					},
					{
						"name": "reg_conselho_tutelar",
						"type": "String"
					},
					{
						"name": "reg_orcamento_part",
						"type": "String"
					},
					{
						"name": "situacao_funcionamento",
						"type": "String"
					},
					{
						"name": "telefone",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "twitter",
						"type": "String"
					},
					{
						"name": "url_website",
						"type": "String"
					},
					{
						"name": "UltimaAtualizacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datasharestorage')]"
			]
		}
	]
}