DevDataEscolas/PartialArmTemplates/ArmTemplate_3_11_2021_18_26_54.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DevDataEscolas"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/0 - MasterPipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "run 1 - get data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RunPythonGetdata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "run 2 - load data to spark",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "run 1 - get data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataFromBlobToDatabricks",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "3 - Export from Databricks",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "run 2 - load data to spark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Export data from Databricks",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "RunExportData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "3 - Export from Databricks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Move File to correct folder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "ProjetoEscola/0 - Master Pipe"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-10T23:50:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Export data from Databricks')]",
				"[concat(variables('factoryId'), '/pipelines/Move File to correct folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Export data from Databricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Export Data From databricks",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/guto_mengue@hotmail.com/3 - SaveIntoCSV format"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksnew",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "ProjetoEscola/3 - Export From DataBricks"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-10T23:37:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataShareExport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datasharestorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "ExportData",
						"container": "datashare"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Move File to correct folder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "GetFileFromTemp",
								"type": "DatasetReference"
							},
							"fieldList": [
								"exists",
								"itemName",
								"itemType"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "TestfolderExist",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Metadata1').output. itemName,'Temp')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "MoveData if file exist",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "Temp",
												"wildcardFileName": "*.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "MergeFiles"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".CSV"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "GetFileFromTemp",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "DataShareExport",
											"type": "DatasetReference",
											"parameters": {
												"FileName": "ExportData.csv"
											}
										}
									]
								},
								{
									"name": "delete unwanted files",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "MoveData if file exist",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "GetFileFromTemp",
											"type": "DatasetReference"
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "ProjetoEscola/4 - Export Data "
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GetFileFromTemp')]",
				"[concat(variables('factoryId'), '/datasets/DataShareExport')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetFileFromTemp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datasharestorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Temp",
						"container": "datashare"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "abr_nome",
						"type": "String"
					},
					{
						"name": "bairro",
						"type": "String"
					},
					{
						"name": "blog",
						"type": "String"
					},
					{
						"name": "cat_part_comunitaria",
						"type": "String"
					},
					{
						"name": "cat_part_confessional",
						"type": "String"
					},
					{
						"name": "cat_part_filantropica",
						"type": "String"
					},
					{
						"name": "cat_part_privada",
						"type": "String"
					},
					{
						"name": "cep",
						"type": "String"
					},
					{
						"name": "codigo",
						"type": "String"
					},
					{
						"name": "convenio_estadual",
						"type": "String"
					},
					{
						"name": "convenio_fasc",
						"type": "String"
					},
					{
						"name": "convenio_federal",
						"type": "String"
					},
					{
						"name": "convenio_municipal",
						"type": "String"
					},
					{
						"name": "data_extracao",
						"type": "String"
					},
					{
						"name": "dep_administrativa",
						"type": "String"
					},
					{
						"name": "desc_reg_conselho_tutelar",
						"type": "String"
					},
					{
						"name": "desc_reg_orcamento_part",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "escola_especial",
						"type": "String"
					},
					{
						"name": "facebook",
						"type": "String"
					},
					{
						"name": "inep",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "logradouro",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "mant_apae",
						"type": "String"
					},
					{
						"name": "mant_empresa_privada",
						"type": "String"
					},
					{
						"name": "mant_ong",
						"type": "String"
					},
					{
						"name": "mant_sindicato",
						"type": "String"
					},
					{
						"name": "mant_sistema_s",
						"type": "String"
					},
					{
						"name": "nome",
						"type": "String"
					},
					{
						"name": "numero",
						"type": "String"
					},
					{
						"name": "reg_conselho_tutelar",
						"type": "String"
					},
					{
						"name": "reg_orcamento_part",
						"type": "String"
					},
					{
						"name": "situacao_funcionamento",
						"type": "String"
					},
					{
						"name": "telefone",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "twitter",
						"type": "String"
					},
					{
						"name": "url_website",
						"type": "String"
					},
					{
						"name": "UltimaAtualizacao",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}